.movie-info {
  border: 1px solid #fff;
  padding: 20px;
  border-radius: 5px;
}
.movie-info img {
  width: 100%;
  height: 330px;
}
.movie-info h3 {
  color: aqua;
}
.movies-type {
  color: aliceblue;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
